body{
    width: 2000px
}
ghost_btn {
    text-decoration: none;
    font-size: 14px;
    font-weight:600;
    color: #FFF ;
    padding: 3px 10px;
    
    overflow: hidden;
    border-radius: 9px;
    cursor: pointer;
    background-color: #292928; 
    font-family: 'Roboto', sans-serif;
    float: left;
    margin-left: -116px;
    margin-top: 265px;
}

#kategorie {
    margin-left: 9px;
    padding-bottom: 60px;
    margin-top: -10px
}

.ghost_btn-kategorie {
    text-decoration: none;
    font-size: 15px;
    font-weight:600;
    color: #FFF ;
    padding: 3.5px 11px;
    
    overflow: hidden;
    border-radius: 11px;
    cursor: pointer;
    background-color: #383838; 
    font-family: 'Roboto', sans-serif;
    float: left;
    margin-right: 16px;
    margin-top: 15px;
    
}

.ghost_btn-kategorie:hover{
    background-color: #fff;
    color:#000;
}



#box a:hover{
    background-color: #fff;
    color:#000;
}
