body
{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: #e2e2e2
}
body.night
{
    background: #131313;
}



.toggle
{
    text-decoration: none;
    font-size: 15px;
    font-weight:600;
    color: #FFF ;
    padding: 3.5px 11px;
    display: inline-block;
    overflow: hidden;
    border-radius: 19px;
    cursor: pointer;
    background-color: #313131; 
    font-family: 'Roboto', sans-serif;
    float: left;
    margin-right: 16px;
    margin-top: 30px;
    border-style: none;
}

.toggle:before
{
    display: none
}
.toggle.active:before
{
    left: 27px;
    background: #fff;
}

.filterDiv img.night{
    width: 150px;
    height: 300px;
    background-color: #000;
    float: left;
    padding-bottom: 0px;
    padding-top: 0px;
    position: static;
    border-radius: 9px;
    margin-right: 35px;
    margin-left: 35px;
    -webkit-box-shadow: 0px 0px 35px 18px rgba(0,0,0,1);
    -moz-box-shadow: 0px 0px 35px 18px rgba(0,0,0,1);
    box-shadow: 0px 0px 35px 18px rgba(0,0,0,1);
}

#header p.night{
    margin-top: 55px;
    background-color: transparent;
    color:#fff;
    font-weight: 900;
    font-family: 'Walls-Regular', sans-serif;
    font-size: 75px;
    letter-spacing: -8px
}

.filterDiv a.ghost_btn.night {
    text-decoration: none;
    font-size: 14px;
    font-weight:600;
    color: #FFF ;
    padding: 3px 10px;
    display: inline-block;
    overflow: hidden;
    border-radius: 13px;
    cursor: pointer;
    background-color: #292928; 
    font-family: 'Roboto', sans-serif;
    float: left;
    margin-left: -152px;
    margin-top: 265px;
    -webkit-box-shadow: 0px 0px 72px 25px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 72px 25px rgba(0,0,0,0.75);
box-shadow: 0px 0px 72px 25px rgba(0,0,0,0.75);
}

.footer a.night{
  width: 90%;
    height: 20px;
    float: left;
    margin-bottom: 15px;
    
    margin-left: 69px;
    background-color: transparent;
    color: #fff;
    font-family: 'Roboto', sans-serif;
}

@font-face { font-family: 'Walls-Regular';
             src: url('Walls-Regular/Walls-Regular.ttf') format('truetype'); }
#walls{
    width: 150px
}
#header{
    margin-top: 55px;
    background-color: transparent;
    margin-left: 69px;
    color:#fff;
    font-size: 40px;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    padding-bottom: 20px
    
}

#header p{
    margin-top: 55px;
    background-color: transparent;
    color:#000;
    font-weight: 900;
    font-family: 'Walls-Regular', sans-serif;
    font-size: 75px;
    letter-spacing: -8px
}

#header h1{
    font-size: 1px;
    color: transparent;
}


/*navi*/


* {       
 margin:0;
 padding:0;
 list-style:none;
 text-decoration:none;
}




#sw{
    width: 50px;
    margin-left: -1px
}




.ghost_btn {
    text-decoration: none;
    font-size: 14px;
    font-weight:600;
    color: #FFF ;
    padding: 3px 10px;
    display: inline-block;
    overflow: hidden;
    border-radius: 13px;
    cursor: pointer;
    background-color: #292928; 
    font-family: 'Roboto', sans-serif;
    float: left;
    margin-left: -116px;
    margin-top: 265px;
    -webkit-box-shadow: 0px 0px 72px 25px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 72px 25px rgba(0,0,0,0.75);
box-shadow: 0px 0px 72px 25px rgba(0,0,0,0.75);
}

#kategorie {
    margin-left: 69px;
    padding-bottom: 60px;
    display: none
}


.filterDiv {
  float: left;
  width: 220px;
  height: 300px;
  text-align: center;
  display: none;
}


#myBtnContainer {
    margin-left: 69px;
    padding-bottom: 67px;
}

button.btn  {
    text-decoration: none;
    font-size: 15px;
    font-weight:600;
    color: #FFF ;
    padding: 3.5px 11px;
    display: inline-block;
    overflow: hidden;
    border-radius: 19px;
    cursor: pointer;
    background-color: #313131; 
    font-family: 'Roboto', sans-serif;
    float: left;
    margin-right: 16px;
    margin-top: 30px;
    border-style: none;
    
}

.filterDiv a.ghost_btn {
    text-decoration: none;
    font-size: 14px;
    font-weight:600;
    color: #FFF ;
    padding: 3px 10px;
    display: inline-block;
    overflow: hidden;
    border-radius: 13px;
    cursor: pointer;
    background-color: #292928; 
    font-family: 'Roboto', sans-serif;
    float: left;
    margin-left: -117px;
    margin-top: 265px;
    -webkit-box-shadow: 0px 0px 72px 25px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 72px 25px rgba(0,0,0,0.75);
box-shadow: 0px 0px 72px 25px rgba(0,0,0,0.75);
}

.filterDiv a:hover{
    background-color: #fff;
    color:#000;
}



button.btn:hover{
    background-color: #fff;
    color:#000;
}

.toggle:hover{
    background-color: #fff;
    color:#000;
    
}

.container{
    padding-left: 34px;
    padding-top: 34px;
    padding-bottom: 44px
}


.container {
  overflow: hidden;
}

.filterDiv{
    float:left;
    margin-top: 20px;
    margin-bottom: 50px;
    background-color: transparent;
    transition: transform .1s; 
    z-index: 1000;
}
.filterDiv img{
    width: 150px;
    height: 300px;
    background-color: #000;
    float: left;
    padding-bottom: 0px;
    padding-top: 0px;
    position: static;
    border-radius: 9px;
    margin-left: 35px;
    -webkit-box-shadow: 0px 0px 53px -15px rgba(0,0,0,0.68);
-moz-box-shadow: 0px 0px 53px -15px rgba(0,0,0,0.68);
box-shadow: 0px 0px 53px -15px rgba(0,0,0,0.68);
}

.filterDiv:hover {
  transform: scale(1.3); 
}



/* The "show" class is added to the filtered elements */
.show {
  display: block;
}

/* Style the buttons */
.btn {
  border: none;
  outline: none;
  padding: 12px 16px;
  background-color: #f1f1f1;
  cursor: pointer;
}

/* Add a light grey background on mouse-over */
.btn:hover {
  background-color: #ddd;
}

/* Add a dark background to the active button */
.btn.active {
  background-color: #515151;
  color: white;
}







#box a:hover{
    background-color: #fff;
    color:#000;
}


#box{
    width: 220px;
    height: 300px;
    float:left;
    margin-top: 20px;
    margin-bottom: 50px;
    background-color: transparent;
    transition: transform .1s; /* Animation */
}



#box:hover {
  transform: scale(1.5); 
}

#box img:active {
  transform: scale(1.5);
}


hr { 
    width: 95%; 
    height: ; 
    margin: 0 auto;
    color: transparent;
    background: #000;
    margin-bottom: -35px;
    visibility: hidden;
}

#hr{
    width: 95%; 
    height: ; 
    margin: 0 auto;
    color: transparent;
    background: #000;
    margin-bottom: 33px;
    
}


.footer a{
  width: 90%;
    height: 20px;
    float: left;
    margin-bottom: 15px;
    
    margin-left: 69px;
    background-color: transparent;
    color: #292928;
    font-family: 'Roboto', sans-serif;
}



#termsp{
    color: #fff;
    font-family: 'Roboto', sans-serif;
    margin-left: 94px;
    margin-top: 50px;
    margin-right: 100px;
    margin-bottom: 20px;
    text-align: justify;
}

.footer-mobile{
    display: none;
}

#header-terms-kategorie{
    margin-top: 55px;
    background-color: #000;
    margin-left: 94px;
    color:#fff;
    font-size: 40px;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    
}

#header-terms-kategorie a{
    margin-top: 55px;
    background-color: #000;
    color:#fff;
    font-size: 45px;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    
}

#header-terms{
    margin-top: 55px;
    background-color: #000;
    margin-left: 0px;
    color:#fff;
    font-size: 40px;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    
}

#header-terms a{
    margin-top: 55px;
    background-color: #000;
    color:#fff;
    font-size: 45px;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    
}

#pa{
    font-size: 0.1px;
    color: transparent;
    display: none
}

/*---------------------------------------------------------*/
@media (max-width: 990px){
    #kategorie{
        width:650px;
        height: 100px;
    }
    
    #myBtnContainer {
    margin-left: 69px;
    padding-bottom: 130px;
}
    #pa{
        display: none;
    }


    
/*---------------------------------------------------------*/
@media (max-width: 900px){
    #kategorie{
        width:650px;
        height: 100px;
    }
    
    #myBtnContainer {
    margin-left: 69px;
    padding-bottom: 130px;
}
    #pa{
        display: none;
    }


    
/*---------------------------------------------------------*/
@media (max-width: 800px){
    #kategorie{
        width:600px;
        height: 100px;
    }
    
   #myBtnContainer {
    margin-left: 69px;
    padding-bottom: 130px;
}
    #pa{
        display: none;
    }


/*---------------------------------------------------------*/
@media (max-width: 700px){
    #kategorie{
        width:500px;
        height: 100px;
    }
    
    #myBtnContainer {
    margin-left: 69px;
    padding-bottom: 130px;
    
}
    #pa{
        display: none;
    }

/*---------------------------------------------------------*/
@media (max-width: 600px){
    
    #pa{
        display: none;
    }
    
    .filterDiv img{
    width: 180px;
    height: 360px;
    background-color: #000;
    float: left;
    padding-bottom: 0px;
    padding-top: 0px;
    position: static;
    border-radius: 9px;
    margin-right: 35px;
    margin-left: 28px;
    -webkit-box-shadow: 0px 0px 53px -15px rgba(0,0,0,0.68);
-moz-box-shadow: 0px 0px 53px -15px rgba(0,0,0,0.68);
box-shadow: 0px 0px 53px -15px rgba(0,0,0,0.68);
    }
    
    .container{
    padding-left: 0px;
    padding-top: 75px;
    height: 430px;
        width: 9500px
    }
    
    .filterDiv a.ghost_btn {
    text-decoration: none;
    font-size: 17px;
    font-weight:600;
    color: #FFF ;
    padding: 4px 12px;
    display: inline-block;
    overflow: hidden;
    border-radius: 13px;
    cursor: pointer;
    background-color: #292928; 
    font-family: 'Roboto', sans-serif;
    float: left;
    margin-left: -174px;
    margin-top: 314px;
    -webkit-box-shadow: 0px 0px 72px 25px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 72px 25px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 72px 25px rgba(0,0,0,0.75);
    }

  
    #kategorie{
        display: none
    }
    
    #myBtnContainer{
        display: none
    }
    
    hr{
        display: none;
    }
    

    .hr{
        display: none;
    }
    #header{
    margin-top: 20px;
    background-color: transparent;
    margin-left: 25px;
    color:#fff;
    font-size: 40px;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    }
    
    #header p{
    margin-top: 15px;
    background-color: transparent;
    color:#292918;
    font-weight: 900;
    font-family: 'Walls-Regular', sans-serif;
    font-size: 75px;
    letter-spacing: -8px;
        position: fixed
}
    
    #realbody{
    margin-right: 30px;
    }
    
    #box{
        
    height: 400px;
    margin-top: 70px;
    margin-bottom: 50px;
    background-color: transparent;
    transition: none;
    margin-left: 50px;
    
    }
    
    #box:hover {
    transform: none
    }
    
    #galerie{
    width: 8080px;
    
    text-align: center;
    margin-right: 20px;
    margin-left: 75px;
    padding-top: 20px;
    display: flex; 
    justify-content: center; 
    align-items: center;

    }
    
    
    
    #galerie img{
    width: 200px;
    height: 400px;
    background-color: #000;
    position: static;
    border-radius: 9px;
    display: flex; 
    justify-content: center; 
    align-items: center;
    margin-left: 0px;
    
    }
    
    .ghost_btn {
    text-decoration: none;
    font-size: 19px;
    font-weight:600;
    color: #FFF ;
    padding: 9px 14px;
    display: inline-block;
    overflow: hidden;
    border-radius: 9px;
    cursor: pointer;
    background-color: #292928; 
    font-family: 'Roboto', sans-serif;
    float: left;
    margin-left: -151px;
    margin-top: 359px;
    }
    
    .footer a{
    display: none
    }
    
    .footer-mobile {
    display: block;
    height: 20px;
    margin-top: 60px;
    margin-left: 25px;
    position: fixed;
    bottom: 20px;
    }
    .footer-mobile a{
    background-color: transparent;
    color: #000;
    font-family: 'Roboto', sans-serif;
    margin-right: 10px
    }
}
