body
{
    width:1400px;
    max-width: 99%;
    margin: 0 auto;
    padding: 0;
    font-family: sans-serif;
    background-color: #e2e2e2;
    
}
body.night
{
    background: #131313;
}



.toggle
{
    text-decoration: none;
    font-size: 15px;
    font-weight:600;
    color: #FFF ;
    padding: 3.5px 11px;
    display: inline-block;
    overflow: hidden;
    border-radius: 19px;
    cursor: pointer;
    background-color: #313131; 
    font-family: 'Roboto', sans-serif;
    float: left;
    margin-right: 16px;
    margin-top: 30px;
    border-style: none;
}

.toggle:before
{
    display: none
}
.toggle.active:before
{
    left: 27px;
    background: #fff;
}

.filterDiv img.night{
    width: 150px;
    height: 300px;
    float: left;
    background-color: #000;
    padding-bottom: 0px;
    padding-top: 0px;
    position: static;
    border-radius: 9px;
    -webkit-box-shadow: 0px 0px 35px 18px rgba(0,0,0,1);
    -moz-box-shadow: 0px 0px 35px 18px rgba(0,0,0,1);
    box-shadow: 0px 0px 35px 18px rgba(0,0,0,1);
}

#header p.night{
    margin-top: 55px;
    background-color: transparent;
    color:#fff;
    font-weight: 900;
    font-family: 'Walls-Regular', sans-serif;
    font-size: 75px;
    letter-spacing: -8px
}

.filterDiv a.ghost_btn.night {
    text-decoration: none;
    font-size: 14px;
    font-weight:600;
    color: #FFF ;
    padding: 3px 10px;
    display: inline-block;
    overflow: hidden;
    border-radius: 13px;
    cursor: pointer;
    background-color: #292928; 
    font-family: 'Roboto', sans-serif;
    float: left;
    margin-left: -117px;
    margin-top: 265px;
    -webkit-box-shadow: 0px 0px 72px 25px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 72px 25px rgba(0,0,0,0.75);
box-shadow: 0px 0px 72px 25px rgba(0,0,0,0.75);
}
.filterDiv a.ghost_btn.night:hover{
    background-color: #fff;
    color:#000;
}

.footer a.night{
  width: 90%;
    height: 20px;
    float: left;
    margin-bottom: 15px;
    
    margin-left: 69px;
    background-color: transparent;
    color: #fff;
    font-family: 'Roboto', sans-serif;
}

@font-face { font-family: 'Walls-Regular';
             src: url('Walls-Regular/Walls-Regular.ttf') format('truetype'); }
#walls{
    width: 150px
}
#header{
    margin-top: 55px;
    background-color: transparent;
    margin-left: 69px;
    color:#fff;
    font-size: 40px;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    padding-bottom: 20px
    
}

#header p{
    margin-top: 55px;
    background-color: transparent;
    color:#000;
    font-weight: 900;
    font-family: 'Roboto', sans-serif;
    font-size: 55px;
    
}

#header h1{
    font-size: 1px;
    color: transparent;
}


/*navi*/


* {       
 margin:0;
 padding:0;
 list-style:none;
 text-decoration:none;
}




#sw{
    width: 50px;
    margin-left: -1px
}




.ghost_btn {
    text-decoration: none;
    font-size: 14px;
    font-weight:600;
    color: #FFF ;
    padding: 3px 10px;
    display: inline-block;
    overflow: hidden;
    border-radius: 13px;
    cursor: pointer;
    background-color: #292928; 
    font-family: 'Roboto', sans-serif;
    float: left;
    margin-left: -116px;
    margin-top: 265px;
    -webkit-box-shadow: 0px 0px 72px 25px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 72px 25px rgba(0,0,0,0.75);
box-shadow: 0px 0px 72px 25px rgba(0,0,0,0.75);
}

#kategorie {
    margin-left: 69px;
    padding-bottom: 60px;
    display: none
}


.blackRow{
    display: none
}

#wt{
    display: none
}
#wtc{
    display: none
}

#myBtnContainer {
    margin-left: 69px;
    padding-bottom: 67px;
}

#mymobile{
    display: none;
}

button.btn  {
    text-decoration: none;
    font-size: 15px;
    font-weight:600;
    color: #FFF ;
    padding: 3.5px 11px;
    display: inline-block;
    overflow: hidden;
    border-radius: 19px;
    cursor: pointer;
    background-color: #313131; 
    font-family: 'Roboto', sans-serif;
    float: left;
    margin-right: 16px;
    margin-top: 30px;
    border-style: none;
    
}

.filterDiv a.ghost_btn {
    text-decoration: none;
    font-size: 14px;
    font-weight:600;
    color: #FFF ;
    padding: 3px 10px;
    display: inline-block;
    overflow: hidden;
    border-radius: 13px;
    cursor: pointer;
    background-color: #292928; 
    font-family: 'Roboto', sans-serif;
    float: left;
    margin-left: -117px;
    margin-top: 265px;
    -webkit-box-shadow: 0px 0px 72px 25px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 72px 25px rgba(0,0,0,0.75);
box-shadow: 0px 0px 72px 25px rgba(0,0,0,0.75);
}

.filterDiv a:hover{
    background-color: #fff;
    color:#000;
}



button.btn:hover{
    background-color: #fff;
    color:#000;
}

.toggle:hover{
    background-color: #fff;
    color:#000;
    
}

.container{
    padding-left: 70px;
    padding-top: 34px;
    padding-bottom: 44px;
    padding-right: 35px
}


.container {
  overflow: hidden;
}

.filterDiv{
    display: none;
    width: calc(100%/6);
    height: 300px;
    text-align: center;
    float:left;
    margin-top: 20px;
    margin-bottom: 50px;
    background-color: transparent;
    transition: transform .1s; 
    z-index: 1000;
    
}

.filterDiv img{
    width: 150px;
    height: 300px;
    float: left;
    background-color: #1e1e1e;
    padding-bottom: 0px;
    padding-top: 0px;
    position: static;
    border-radius: 9px;
    
    -webkit-box-shadow: 0px 0px 53px -15px rgba(0,0,0,0.68);
-moz-box-shadow: 0px 0px 53px -15px rgba(0,0,0,0.68);
box-shadow: 0px 0px 53px -15px rgba(0,0,0,0.68);
}

.filterDiv:hover {
  transform: scale(1.3); 
}



/* The "show" class is added to the filtered elements */
.show {
  display: block;
}

/* Style the buttons */
.btn {
  border: none;
  outline: none;
  padding: 12px 16px;
  background-color: #f1f1f1;
  cursor: pointer;
}

/* Add a light grey background on mouse-over */
.btn:hover {
  background-color: #ddd;
}

/* Add a dark background to the active button */
.btn.active {
  background-color: #515151;
  color: white;
}







#box a:hover{
    background-color: #fff;
    color:#000;
}


#box{
    width: 220px;
    height: 300px;
    float:left;
    margin-top: 20px;
    margin-bottom: 50px;
    background-color: transparent;
    transition: transform .1s; /* Animation */
}



#box:hover {
  transform: scale(1.5); 
}

#box img:active {
  transform: scale(1.5);
}


hr { 
    width: 95%; 
    height: ; 
    margin: 0 auto;
    color: transparent;
    background: #000;
    margin-bottom: -35px;
    visibility: hidden;
}

#hr{
    width: 95%; 
    height: ; 
    margin: 0 auto;
    color: transparent;
    background: #000;
    margin-bottom: 33px;
    
}


.footer a{
  width: 90%;
    height: 20px;
    float: left;
    margin-bottom: 15px;
    
    margin-left: 69px;
    background-color: transparent;
    color: #292928;
    font-family: 'Roboto', sans-serif;
}



#termsp{
    color: #fff;
    font-family: 'Roboto', sans-serif;
    margin-left: 94px;
    margin-top: 50px;
    margin-right: 100px;
    margin-bottom: 20px;
    text-align: justify;
}

.footer-mobile{
    display: none;
}

#header-terms-kategorie{
    margin-top: 55px;
    background-color: #000;
    margin-left: 94px;
    color:#fff;
    font-size: 40px;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    
}

#header-terms-kategorie a{
    margin-top: 55px;
    background-color: #000;
    color:#fff;
    font-size: 45px;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    
}

#header-terms{
    margin-top: 55px;
    background-color: #000;
    margin-left: 0px;
    color:#fff;
    font-size: 40px;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    
}

#header-terms a{
    margin-top: 55px;
    background-color: #000;
    color:#fff;
    font-size: 45px;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    
}

#pa{
    font-size: 0.1px;
    color: transparent;
    display: none
}

/*---------------------------------------------------------*/
@media (max-width: 1300px){
    #kategorie{
        width:650px;
        height: 100px;
    }
    
    #myBtnContainer {
    margin-left: 69px;
    padding-bottom: 130px;
}
    #pa{
        display: none;
    }
    
    .filterDiv{
    
    width: calc(100%/5);
    height: 300px;
    text-align: center; 
    float:left;
    margin-top: 20px;
    margin-bottom: 50px;
    background-color: transparent;
    transition: transform .1s; 
    z-index: 1000;
    
}

    .blackRow{
    display: none
}

/*---------------------------------------------------------*/
@media (max-width: 990px){
    #kategorie{
        width:650px;
        height: 100px;
    }
    
    #myBtnContainer {
    margin-left: 69px;
    padding-bottom: 130px;
}
    #pa{
        display: none;
    }
    
    .filterDiv{
    
    width: calc(100%/4);
    height: 300px;
    text-align: center; 
    float:left;
    margin-top: 20px;
    margin-bottom: 50px;
    background-color: transparent;
    transition: transform .1s; 
    z-index: 1000;
    
}

    .blackRow{
    display: none
}


    
/*---------------------------------------------------------*/
@media (max-width: 900px){
    #kategorie{
        width:650px;
        height: 100px;
    }
    
    #myBtnContainer {
    margin-left: 69px;
    padding-bottom: 130px;
}
    #pa{
        display: none;
    }
    .blackRow{
    display: none
}

/*---------------------------------------------------------*/
@media (max-width: 840px){
    #kategorie{
        width:600px;
        height: 100px;
    }
    
   #myBtnContainer {
    margin-left: 69px;
    padding-bottom: 130px;
}
    #pa{
        display: none;
    }
    .filterDiv{
    
    width: calc(100%/3);
    height: 300px;
    text-align: center; 
    float:left;
    margin-top: 20px;
    margin-bottom: 50px;
    background-color: transparent;
    transition: transform .1s; 
    z-index: 1000;
    
}

    .blackRow{
    display: none
}
    
    


    
/*---------------------------------------------------------*/
@media (max-width: 800px){
    #kategorie{
        width:600px;
        height: 100px;
    }
    
   #myBtnContainer {
    margin-left: 69px;
    padding-bottom: 130px;
}
    #pa{
        display: none;
    }
    
    .blackRow{
    display: none
}
    
    


/*---------------------------------------------------------*/
@media (max-width: 700px){
    #kategorie{
        width:500px;
        height: 100px;
    }
    
    #myBtnContainer {
    margin-left: 69px;
    padding-bottom: 130px;
    
}
    #pa{
        display: none;
    }
    
    .blackRow{
    display: none
}
  

/*---------------------------------------------------------*/
@media (max-width: 600px){
    body
    {
    
        
        max-width: 100%;
        margin:0 auto;
        padding: 0;
        font-family: sans-serif;
        background-color: #e2e2e2;
        
        
    }
    
    #oo{
        display: none;
    }
    
    
    
    #pa{
        display: none;
    }
    
    .filterDiv img{
    width: 100%;
    height: 20%;
    background-color: #000;
    float: left;
    padding-bottom: 0px;
    padding-top: 0px;
    position: static;
    border-radius: 15px;
    margin: 0 auto;
    -webkit-box-shadow: 0px 0px 53px -15px rgba(0,0,0,0);
-moz-box-shadow: 0px 0px 53px -15px rgba(0,0,0,0);
box-shadow: 0px 0px 53px -15px rgba(0,0,0,0);
    }
    
    
    .container{
    padding-left: 0px;
    padding-top: 25px;
    padding-right: 0px;
    width: 67%;
    margin: 0 auto;
    
    
    }
    
    .filterDiv a.ghost_btn {
    text-decoration: none;
    font-size: 18px;
    font-weight:600;
    color: #FFF ;
    padding: 5px 12px;
    display: inline-block;
    overflow: hidden;
    border-radius: 13px;
    cursor: pointer;
    background-color: #292928; 
    font-family: 'Roboto', sans-serif;
    float: left;
    margin-left:calc(100% - 76%);
    margin-top: -50px;
    -webkit-box-shadow: 0px 0px 72px 25px rgba(0,0,0,0);
    -moz-box-shadow: 0px 0px 72px 25px rgba(0,0,0,0);
    box-shadow: 0px 0px 72px 25px rgba(0,0,0,0);
    width:40%
    }
    
    #blackRow{
    margin-top: -11px;
    padding: 0;
    width: 100%;
    border-top: 49px solid #1e1e1e;
    position: fixed;
    z-index: 90;
    -webkit-box-shadow: 0px 0px 53px -15px rgba(0,0,0,0.68);
    -moz-box-shadow: 0px 0px 53px -15px rgba(0,0,0,0.68);
    box-shadow: 0px 0px 53px -15px rgba(0,0,0,0.68);
    border-bottom-style: solid;
    border-bottom-color: #1e1e1e;
    border-bottom-width: 2px
    
    }

  
    #kategorie{
        display: none
    }
    
    #myBtnContainer{
        display: none
    }
    
    hr{
        display: none;
    }
    

    .hr{
        display: none;
    }
    #header{
    
    background-color: transparent;
    color:#fff;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    z-index: 100;
    width: 30%;
    margin-top: 10px;
    margin-left:10px
        
    
    }
    
    #header p{
    background-color: transparent;
    color:#e1e1e1;
    font-weight: 900;
    font-family: 'Walls-Regular', sans-serif;
    font-size: 27px;
    position: fixed;
    z-index: 100;
    width: 300px;
    margin: 0 auto;
    margin-top: 0px
    }
    
    #realbody{
    margin-right: 0px;
    }
    
    .filterDiv{
    margin: 0 auto;
    width: 100%;
    height: 100%;
    text-align: center; 
    float:left;
    margin-top: 20px;
    margin-bottom: 50px;
    background-color: transparent;
    transition: transform .1s; 
    z-index: 0;
    }
    
    #mymobile {
      display: grid;
      grid-gap: 10px;
      grid-template-columns: repeat(8, calc(200% - 605px));
      padding-left:20px;
      overflow-x: scroll;
      position: fixed;
      top:-15px;
      margin-left: 125px;
      z-index: 10001;
      
    }

    div.toggle{
        display: none
    }
    
    button.btn  {
    display: grid;
    background-color: #515151
  
    }
    
    #wt{
    display:inline-block;
    position: fixed;
    z-index: 10002;
    top: 0;
    left: 125px;
    height: 50px
    }
    
    #wtc{
    display:inline-block;
    position: fixed;
    z-index: 10002;
    top: 0;
    right: 0px;
    height: 50px
    }
    

   
   
    
    .btn{
        display: inline-block
    }
    
    
    #box{
        
    height: 400px;
    margin-top: 70px;
    margin-bottom: 50px;
    background-color: transparent;
    transition: none;
    margin-left: 50px;
    
    }
    
    #box:hover {
    transform: none
    }
    
    .filterDiv:hover {
    transform: scale(1); 
    }
    
    
    
    .footer a{
    display: none
    }
    
    .footer-mobile {
    display: block;
    height: 20px;
    margin-top: 0px;
    margin-left: 25px;
    bottom: 20px;
    padding-bottom: 10px;
    }
    .footer-mobile a{
    background-color: transparent;
    color: #000;
    font-family: 'Roboto', sans-serif;
    margin-right: 10px;
    
    }
}
