/*body*/

body {
    background-color: #e2e2e2;
    margin: 0 auto;
    
    
    
}

#header{
    margin-top: 55px;
    background-color: transparent;
    margin-left: 69px;
    color:#131313;
    font-size: 40px;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    
}

#header p{
    margin-top: 55px;
    background-color: transparent;
    color:#131313;
    font-size: 45px;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    
}

#header h1{
    font-size: 1px;
    color: transparent
}

/*navi*/


* {       
 margin:0;
 padding:0;
 list-style:none;
 text-decoration:none;
}
#navi {
 text-align:right;
 
}

ul#navi li {
 display:inline-block;
 background: tranparent;
 color: #dddddd;
 margin-left -7px; 
 margin-bottom:1px; 
}
#navi a {
 display:block;
 padding:14px;
 color:#dddddd;
 font-size: 19px;
 font-family: 'Roboto', sans-serif;
    font-weight: 700;
 
}

#navi a:hover {
 color: #000;
}
#navi {
    margin-right:25px;
    padding-top: 13px;
}



#sw{
    width: 45px;
}

#realbody{
    height: 100%;
    background-color: transparent;
    width: 100%;
}

#galerie{
    margin-left: 34px;
    padding-top: 20px;
}
#galerie img{
    width: 150px;
    height: 300px;
    background-color: #000;
    float: left;
    padding-bottom: 0px;
    padding-top: 0px;
    position: static;
    border-radius: 9px;
    margin-left: 35px;
    -webkit-box-shadow: 0px 0px 128px -35px rgba(0,0,0,1);
-moz-box-shadow: 0px 0px 128px -35px rgba(0,0,0,1);
box-shadow: 0px 0px 128px -35px rgba(0,0,0,1);
   
}

#galerie li p{
    
    width: 4px;
    
    float:left;
    font-size: 15px;
    
    text-align: left;
    margin-left: 20px
}



.ghost_btn {
    text-decoration: none;
    font-size: 14px;
    font-weight:600;
    color: #FFF ;
    padding: 3px 10px;
    display: inline-block;
    overflow: hidden;
    border-radius: 13px;
    cursor: pointer;
    background-color: #292928; 
    font-family: 'Roboto', sans-serif;
    float: left;
    margin-left: -116px;
    margin-top: 265px;
    -webkit-box-shadow: 0px 0px 72px 25px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 72px 25px rgba(0,0,0,0.75);
box-shadow: 0px 0px 72px 25px rgba(0,0,0,0.75);
}

#kategorie {
    margin-left: 69px;
    padding-bottom: 60px;
}

.ghost_btn-kategorie {
    text-decoration: none;
    font-size: 15px;
    font-weight:600;
    color: #FFF ;
    padding: 3.5px 11px;
    display: inline-block;
    overflow: hidden;
    border-radius: 19px;
    cursor: pointer;
    background-color: #313131; 
    font-family: 'Roboto', sans-serif;
    float: left;
    margin-right: 16px;
    margin-top: 30px;
    
}

.ghost_btn-kategorie:hover{
    background-color: #fff;
    color:#000;
}



#box a:hover{
    background-color: #fff;
    color:#000;
}


#box{
    width: 220px;
    height: 300px;
    float:left;
    margin-top: 20px;
    margin-bottom: 50px;
    background-color: transparent;
    transition: transform .1s; /* Animation */
}



#box:hover {
  transform: scale(1.5); 
}

#box img:active {
  transform: scale(1.5);
}


hr { 
    width: 95%; 
    height: ; 
    margin: 0 auto;
    color: #000;
    background: #000;
    margin-bottom: 20px;
    visibility: hidden;
}

#hr{
    width: 95%; 
    height: ; 
    margin: 0 auto;
    color: #000;
    background: #000;
    margin-bottom: 33px;
    
}
.footer a{
  width: 90%;
    height: 20px;
    float: left;
    margin-bottom: 15px;
    
    margin-left: 69px;
    background-color: transparent;
    color: #131313;
    font-family: 'Roboto', sans-serif;
}



#termsp{
    color: #fff;
    font-family: 'Roboto', sans-serif;
    margin-left: 94px;
    margin-top: 50px;
    margin-right: 100px;
    margin-bottom: 20px;
    text-align: justify;
}

.footer-mobile{
    display: none;
}

#header-terms-kategorie{
    margin-top: 55px;
    background-color: #000;
    margin-left: 94px;
    color:#fff;
    font-size: 40px;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    
}

#header-terms-kategorie a{
    margin-top: 55px;
    background-color: #000;
    color:#fff;
    font-size: 45px;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    
}

#header-terms{
    margin-top: 55px;
    background-color: #000;
    margin-left: 0px;
    color:#fff;
    font-size: 40px;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    
}

#header-terms a{
    margin-top: 55px;
    background-color: #000;
    color:#fff;
    font-size: 45px;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    
}

#pa{
    font-size: 0.1px
}


/*---------------------------------------------------------*/
@media (max-width: 900px){
    #kategorie{
        width:650px;
        height: 100px;
    }
    
/*---------------------------------------------------------*/
@media (max-width: 800px){
    #kategorie{
        width:600px;
        height: 100px;
    }
    
}

/*---------------------------------------------------------*/
@media (max-width: 700px){
    #kategorie{
        width:500px;
        height: 100px;
    }
    
}

/*---------------------------------------------------------*/
@media (max-width: 600px){
    
    #kategorie{
        display: none
    }
    hr{
        display: none;
    }
    

    .hr{
        display: none;
    }
    #header{
    margin-top: 38px;
    background-color: #000;
    margin-left: 50px;
    color:#fff;
    font-size: 40px;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    }
    
    #header p{
    margin-top: -10px;
    background-color: #000;
    margin-left: -24px;
    color:#fff;
    font-size: 45px;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    position: fixed
    }
    
    #realbody{
    margin-right: 30px;
    }
    
    #box{
        
    height: 400px;
    margin-top: 70px;
    margin-bottom: 50px;
    background-color: transparent;
    transition: none;
    margin-left: 50px;
    
    }
    
    #box:hover {
    transform: none
    }
    
    #galerie{
    width: 8080px;
    
    text-align: center;
    margin-right: 20px;
    margin-left: 75px;
    padding-top: 20px;
    display: flex; 
    justify-content: center; 
    align-items: center;

    }
    
    
    
    #galerie img{
    width: 200px;
    height: 400px;
    background-color: #000;
    position: static;
    border-radius: 9px;
    display: flex; 
    justify-content: center; 
    align-items: center;
    margin-left: 0px;
    
    }
    
    .ghost_btn {
    text-decoration: none;
    font-size: 17px;
    font-weight:600;
    color: #FFF ;
    padding: 4px 12px;
    display: inline-block;
    overflow: hidden;
    border-radius: 9px;
    cursor: pointer;
    background-color: #292928; 
    font-family: 'Roboto', sans-serif;
    float: left;
    margin-left: -151px;
    margin-top: 359px;
    }
    
    .footer a{
    display: none
    }
    
    .footer-mobile {
    display: block;
    height: 20px;
    margin-top: 60px;
    margin-left: 25px;
    position: fixed;
    }
    .footer-mobile a{
    background-color: transparent;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    margin-right: 10px
    }
}
