
@font-face {
  font-family: 'Walls-Regular';
  src: url('Walls-Regular.eot?#iefix') format('embedded-opentype'),  url('Walls-Regular.woff') format('woff'), url('Walls-Regular.ttf')  format('truetype'), url('Walls-Regular.svg#Walls-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
